<!DOCTYPE HTML>
<html>
    <head>
        <title>Pokemon RBC Battle!</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>        
        <script type="text/javascript" src="./vendors/angular.min.js"></script>
        <script type="text/javascript" src="./module.js"></script>
    </head>
    <body data-ng-app="PokeModule" data-ng-controller="PokeController">
        <div style="margin-top: 50px;"></div>
        <div class="container">
            <div class="row">
                
                <!-- ENTRADA DE POKEMONS EXISTÊNTES -->
                <div class="col-sm">
                    <form>
                        <div class="col-sm" style="text-align: center">
                            <!-- coluna 1 -->
                            <img src="{{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+p1.dex+'.png'}}" alt="">
                        </div>
                        <div class="form-group">
                            <label for="pokemonLabel1"><b>Pokémon 1</b></label>
                            <input type="text" class="form-control" id="exampleInputPokemon1" ng-model="p1.dex" ng-change="selectPokemon('p1')" aria-describedby="pokemonHelp" placeholder="Entre com o pokémon">
                            <small id="pokemon1" class="form-text text-muted">Digite apenas o número da pokedex relacionado ao pokémon.</small>
                        </div>

                        <div style="padding: 10px 0 20px 0">
                            <img src="images/{{tipo.name.toLowerCase()}}.png" style="width:10%" alt="" ng-repeat="tipo in p1.types">
                        </div>

                        <!-- HP -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Vida</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p1.stats.hp" placeholder="Entre com o vida" aria-label="HP" aria-describedby="basic-addon1">
                        </div>

                        <!-- ATAQUE -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Ataque</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p1.stats.attack" placeholder="Entre com o ataque" aria-label="ataque" aria-describedby="basic-addon1">
                        </div>

                        <!-- DEFESA -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Defesa</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p1.stats.defense" placeholder="Entre com a defesa" aria-label="defesa" aria-describedby="basic-addon1">
                        </div>  
                        
                        <!-- SP ATAQUE -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Sp. Ataque</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p1.stats.spAttack" placeholder="Entre com o Sp. Ataque" aria-label="spataque" aria-describedby="basic-addon1">
                        </div>               
                        
                        <!-- SP DEFESA -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Sp. Defesa</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p1.stats.spDefense" placeholder="Entre com o Sp. Defesa" aria-label="spdefesa" aria-describedby="basic-addon1">
                        </div>  
                        
                        <!-- VELOCIDADE -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Velocidade</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p1.stats.speed" placeholder="Entre com a velocidade" aria-label="velocidade" aria-describedby="basic-addon1">
                        </div>                                  
                        
                    </form> 
                </div>
                <div class="col-sm" style="text-align: center">
                    <img src="./images/vsp.png" style="size: 30px">
                </div> 
                <div class="col-sm">
                    <form>
                        <div class="col-sm" style="text-align: center">
                            <!-- coluna 3 -->
                            <img src="{{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+p2.dex+'.png'}}" alt="">
                        </div>
                        <div class="form-group">
                            <label for="pokemonLabel2"><b>Pokémon 2</b></label>
                            <input type="text" class="form-control" id="exampleInputPokemon1" ng-model="p2.dex" ng-change="selectPokemon('p2')" aria-describedby="pokemonHelp" placeholder="Entre com o pokémon">
                            <small id="pokemon2" class="form-text text-muted">Digite apenas o número da pokedex relacionado ao pokémon.</small>
                        </div>

                        <div style="padding: 10px 0 20px 0">
                            <img src="images/{{tipo.name.toLowerCase()}}.png" style="width:10%" alt="" ng-repeat="tipo in p2.types">
                        </div>

                        <!-- HP -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Vida</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p2.stats.hp" placeholder="Entre com o vida" aria-label="HP" aria-describedby="basic-addon1">
                        </div>

                        <!-- ATAQUE -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Ataque</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p2.stats.attack" placeholder="Entre com o ataque" aria-label="ataque" aria-describedby="basic-addon1">
                        </div>

                        <!-- DEFESA -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Defesa</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p2.stats.defense" placeholder="Entre com a defesa" aria-label="defesa" aria-describedby="basic-addon1">
                        </div>  
                        
                        <!-- SP ATAQUE -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Sp. Ataque</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p2.stats.spAttack" placeholder="Entre com o Sp. Ataque" aria-label="spataque" aria-describedby="basic-addon1">
                        </div>               
                        
                        <!-- SP DEFESA -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Sp. Defesa</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p2.stats.spDefense" placeholder="Entre com o Sp. Defesa" aria-label="spdefesa" aria-describedby="basic-addon1">
                        </div>  
                        
                        <!-- VELOCIDADE -->
                        <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Velocidade</span>
                        </div>
                            <input type="text" class="form-control" ng-model="p2.stats.speed" placeholder="Entre com a velocidade" aria-label="velocidade" aria-describedby="basic-addon1">
                        </div>                                  

                    </form>
                </div>

            
            </div>

            <!-- BOTÕES -->
            <div class="w-100" style="margin-top: 100px"></div>
            <div class="row">
                <div class="col-sm" style="text-align: center">
                    <!-- coluna 1 -->
                    <button type="button" ng-click="batalhar(p1.dex, p2.dex)" class="btn btn-warning" data-toggle="modal" style="height:50px; width:200px" data-target="#PokeModal">
                        Batalhar
                    </button>
                </div>
                
            </div>

            <!-- MODAL -->
            <div class="modal fade" id="PokeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <!-- <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"><b>Pokémon Vencedor</b></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button> 
                        </div> -->
                        
                        <!-- RESPOSTA POKEMON VENCEDOR -->
                        <div class="modal-body">
                            <div>
                                <h2 style="color: darkgoldenrod; text-align: center; margin-top: 5  0px; margin-bottom: 20px">POKÉMON VENCEDOR!</h2>
                            </div>
                            <div style="text-align: center">
                                <img src="{{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+vencedor+'.png'}}" alt="">
                            </div>
                            <div style="margin-bottom: 50px"></div>
                            <div style="text-align: right">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            </div>
                        </div>    
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">1P</th>
                                <th scope="col">2P</th>
                                <th scope="col">Similaridade</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-ng-repeat="sim in similaridades">
                                <td>
                                    <img src="{{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+sim.p1+'.png'}}" />
                                </td>
                                <td>
                                    <img src="{{'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/'+sim.p2+'.png'}}" />
                                </td>
                                <td>{{sim.sim*100 | number: 2}}%</td>
                              </tr>
                            </tbody>
                        </table>
                        <!-- <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>

        

    </body>
</html>